html {
  font-size: 10px;
}

body {
  font-size: 15px;
}

h1 {
  color: $color-text;
}

h2 {
  font-size: 4.4rem;
  color: $color-text;
  background-color: red;
}

h3 {
  font-size: 3.5rem;
  color: $color-text;
}
