* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
}

h1 {
  color: $color-text;
}

h2 {
  @extend %font-main;
  @include font(4.4rem, normal, normal, 130%);
  color: $color-text;
}

h3 {
  @extend %font-main;
  @include font(3.5rem, normal, normal, 130%);
  color: $color-text;
}
