.button {
  width: 18vw;
  max-width: 207px;
  height: 4.5vw;
  max-height: 52px;
border: none;
  /* color-primary */
  background: $color-primary;
  border-radius: 100px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  &:focus {
    outline: none;
  }
}
