.navigation-wrapper {
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 32vw;
  height: 100%;
  &__button {
    list-style: none;
    &_underline {
      border-bottom: solid 2px $color-primary;
    }
  }
  &__link {
    color: $color3;
    &:hover {
      color: $color2;
    }
  }
}
