.pop-up-window {
  position: fixed;
  // width: 1000px;
  // height: 1000px;
  width: 80%;
  height: 80%;
  max-width: 600px;
  max-height: 600px;
  margin: 0;
  background: orange;
  z-index: 50;
  &_hidden {
    display: none;
  }
}
