.our-friends__slider {
  margin-top: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes invisibilisation{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slider__main {
  display: flex;
  flex-wrap: wrap;
}

.slider-card {
  background: red;
  width: 200px;
  height: 435px;
  margin: 0 10px;
  &__image {
    background: green;
    width: 200px;
    height: 437px;
  }
  &__name {
  }
  &__button {
    background-color: purple;
  }
}

.slider__arrow_left, .slider__arrow_right {
  border-radius: 50%;
  border: 2px solid $color-primary;
  background: inherit;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  line-height: 25px;
  &:hover {
    opacity: 0.7;
    cursor: pointer;

  }
}


@media (max-width: 1280px) {
  .slider-card:first-child {
    display: none;
  }
}

@media (max-width: 769px) {
  .slider-card:last-child {
    display: none;
  }
}
