.about {
  background-color: $color2;
}

.about-wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 6vw 9vw 1vw 9vw;
}
@media (max-width: 710px) {
  .about-wrapper {
    padding: 15px 7px 7px 7px;
  }
}

.about-image {
  background: url('/assets/about-pets.png') no-repeat;
  background-size: 100%;
  min-width: 280px;
  min-height: 400px;
}

.about-content {
  width: 33.59375vw;
  min-width: 300px;
  margin-bottom: 100px;
}
.about-content__title {
  margin-top: 13px;
  margin-bottom: 17px;
}
.about-content__text {
  margin-bottom: 17px;
}
