.footer {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer-wrapper {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: $color2;
  padding: 5px 2vw 0 2vw;
}

.footer-image {
  background-position: center;
  background: url("/assets/footer-puppy.png") no-repeat;
  background-size: 100%;
  min-width: 300px;
  min-height: 280px;
  margin-top: 15px;
}

.about-us {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 300px;
  height: 200px;
  &__title {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
  }
  &__block {
    display: flex;
    color: $color-primary;
  }
  &__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; 
  }
  &__feedback {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $color-primary;
    font-size: 20px;
    line-height: 1.15;
    margin-left: 15px;
  }
}
