.in-additional {
  background-color: $color3;
}

.in-additional-wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 40px 9vw 1vw 9vw;
}

.in-additional-image {
  background: url('/assets/donation-dog.png') no-repeat;
  background-position: center, center;
  background-size: 100%;
  // min-width: 39.45vw;
  min-height: 31.875vw;
  min-width: 300px;
}

.in-additional-content {
  max-width: 33.59375vw;
  margin-bottom: 100px;
  &__title {
    margin-top: 13px;
    margin-bottom: 17px;
  }
  &__text {
    margin-bottom: 17px;
  }
}

@media (max-width: 769px) {
  .in-additional-content {
    max-width: 40vw;
    margin-bottom: 50px;
    text-align: center;
  }
}
