* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
}

h1 {
  color: $color-text;
  margin: 0;
}

h2 {
  @extend %font-main;
  @include font(4.4rem, normal, normal, 130%);
  color: $color-text;
}

h3 {
  @extend %font-main;
  @include font(3.5rem, normal, bold, 130%);
  color: $color-text;
  text-align: center;
}

h4 {
  @extend %font-main;
  @include font(2rem, normal, bold, 130%);
  color: $color-text;
}
