.button {
  // width: 18vw;
  height: 52px;
  max-width: 207px;
  border: none;
  /* color-primary */
  background: $color-primary;
  border-radius: 100px;
  padding: 2px 5px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  &:focus {
    outline: none;
  }
}
