$color-brand: #F1CDB3;
$color-background1: #F1CDB3;
$color-background2: #5C5C5C;
$color-background3: #FFFFFF;
$color-text: #545454;

$content-width: 1280px;
$table-width: 768px;
$mobile-width: 320px;
