.our-friends {
}
.our-friends-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.our-friends__title {
  text-align: center;
}
.our-friends__slider {
}
.our-friends__button {
}
